<!doctype html>
<html>
  <head>
    <title>NoliDev</title>

    <meta charset="utf-8" />
    <meta
      name="description"
      content="Hello I'm Noli a web developer that delivers responsive web apps"
    />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, PHP, web, web developer, web development, app development, quasar, vue, seo, Noli, Noli Pernes, Pernes, NoliDev, NoliDev Portfolio"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png" />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <!-- OG card -->
    <meta property="og:site_name" content="NoliDev" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="NoliDev" />
    <meta
      property="og:description"
      content="Hello I'm Noli a web developer that delivers responsive web apps"
    />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:heigth" content="600" />
    <meta property="og:image" content="https://noli-portfolio.vercel.app/images/profilepic.png" />
    <meta property="og:url" content="https://noli-portfolio.vercel.app" />
    <!-- twitter card -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://noli-portfolio.vercel.app" />
    <meta property="twitter:title" content="NoliDev" />
    <meta
      property="twitter:description"
      content="Hello I'm Noli a web developer that delivers responsive web apps"
    />
    <meta
      property="twitter:image"
      content="https://noli-portfolio.vercel.app/images/profilepic.png"
    />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
